.bigContainer{
	display: flex;
	flex-direction: row;
}

.container{
	display: flex;
	flex-direction: column;
	border: solid 2px grey;
	//margin-left: 20%;
	margin-right: 10%;
}

.result {
	border: solid 2px grey;
	height: 50px;
	margin-bottom: 5;
	width: 190;

	overflow: auto;
	text-align: right;
	font-size: 25px;
	padding-right: 10px;
	padding-top: 10px;
	background-color:#000000;
	
	color:#ffffff;
}

.body {
	width : 200;
	background-color : #000000;
	border: solid 2px grey;
}

.cbut {
	background-color: #fff111;
	margin-left:1%;
	//border: 2px;
	width : 22.8%;
	height : 30px;
	margin-bottom : 4px ;
}

.cbut:hover {
	
	background-color: #fff999;
}

.cbut:active {
	
	background-color: #eee000;
}


.opbut {
	background-color: #111fff;
	//border: 2px;
	height : 30px;
	width : 19.35%;
	margin-left: 1%;
	margin-bottom : 4px ;
}

.opbut:hover {
	
	background-color: #999fff;
}

.opbut:active{
	
	background-color: #000eee;
}

#c {
	width : 48.8%;
}

#zero {
	width : 74.5%;
}

.present{
	font-size: 40;
}
